<!DOCTYPE HTML>
<!--
Thank you for looking through my html code.
This is just the 404 page.
If you have any suggestions on improving it, you can dm me on Discord: suretic#5364.
-->
<html>
  <head>
    <title>page not found</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body style="color:#fff; font-size: 15pt">
    <div class="errmain">
      <img src="/img/404.png" class="errimg">
      <div class="errtxt">
        <p><b>ERROR:</b> couldn't find file</p>
        <p>return to <a href="/" class="link">HOME</a></p>
      </div>
    </div>
  </body>
</html>
