<!DOCTYPE html>
<!--
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣬⡛⣿⣿⣿⣯⢻
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⢻⣿⣿⢟⣻⣿⣿⣿⣿⣿⣿⣮⡻⣿⣿⣧
⣿⣿⣿⣿⣿⢻⣿⣿⣿⣿⣿⣿⣆⠻⡫⣢⠿⣿⣿⣿⣿⣿⣿⣿⣷⣜⢻⣿
⣿⣿⡏⣿⣿⣨⣝⠿⣿⣿⣿⣿⣿⢕⠸⣛⣩⣥⣄⣩⢝⣛⡿⠿⣿⣿⣆⢝
⣿⣿⢡⣸⣿⣏⣿⣿⣶⣯⣙⠫⢺⣿⣷⡈⣿⣿⣿⣿⡿⠿⢿⣟⣒⣋⣙⠊
⣿⡏⡿⣛⣍⢿⣮⣿⣿⣿⣿⣿⣿⣿⣶⣶⣶⣶⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⢱⣾⣿⣿⣿⣝⡮⡻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⣋⣻⣿⣿⣿⣿
⢿⢸⣿⣿⣿⣿⣿⣿⣷⣽⣿⣿⣿⣿⣿⣿⣿⡕⣡⣴⣶⣿⣿⣿⡟⣿⣿⣿
⣦⡸⣿⣿⣿⣿⣿⣿⡛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⣿⣿⣿
⢛⠷⡹⣿⠋⣉⣠⣤⣶⣶⣿⣿⣿⣿⣿⣿⡿⠿⢿⣿⣿⣿⣿⣿⣷⢹⣿⣿
⣷⡝⣿⡞⣿⣿⣿⣿⣿⣿⣿⣿⡟⠋⠁⣠⣤⣤⣦⣽⣿⣿⣿⡿⠋⠘⣿⣿
⣿⣿⡹⣿⡼⣿⣿⣿⣿⣿⣿⣿⣧⡰⣿⣿⣿⣿⣿⣹⡿⠟⠉⡀⠄⠄⢿⣿
⣿⣿⣿⣽⣿⣼⣛⠿⠿⣿⣿⣿⣿⣿⣯⣿⠿⢟⣻⡽⢚⣤⡞⠄⠄⠄⢸⣿
-->
<html>
  <head>
    <title>hentaisupplier - contact</title>
    <meta property="og:image" content="/img/c_img_1.png" />
    <meta property="og:title" content="contact" />
    <meta property="og:site_name" content="hentaisupplier.cf">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="disord: suretic#5364 | @suretic" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/js/main.js" type="text/javascript"></script>
  </head>

  <body onload="bg()">
    <header>
        <div class="headmain">
          <div class="topbar">
            <div class="logo">
              <p>hentai |</p>
            </div>
            <ul>
              <li><a href="/">home</a></li>
              <li><a href="/stats">stats</a></li>
              <li><a href="/dev">dev</a></li>
            </ul>
            <div class="logo">
              <p>| supplier</p>
            </div>
          </div>
          <section class="headimg">
            <div class="headov">
              <p>supplying discord servers with hentai</p>
            </div>
          </section>
          <div class="botbar">
            <p>artwork taken from <a href="https://bang-dream-gbp-en.bushiroad.com/" target="_blank" class="link">Bang Dream</a></p>
          </div>
        </div>
    </header>
    <div class="content">
      <div class="sub">
        <img src="./img/cntct.png" class="subimg">
        <div>
          <h1>contact</h1>
          <p>e-mail: <a href="mailto:suretic1337@gmail.com" class="link">suretic1337@gmail.com</a></p>
          <p>Twitter: <a href="https://twitter.com/suretic" class="link">@suretic</a></p>
          <p>Discord: suretic#5364</p><br>
          <p>I respond the fastet on Twitter and Discord.</p>
        </div>
      </div>
    </div>
  </body>
</html>
