<!DOCTYPE html>
<!--
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣬⡛⣿⣿⣿⣯⢻
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⢻⣿⣿⢟⣻⣿⣿⣿⣿⣿⣿⣮⡻⣿⣿⣧
⣿⣿⣿⣿⣿⢻⣿⣿⣿⣿⣿⣿⣆⠻⡫⣢⠿⣿⣿⣿⣿⣿⣿⣿⣷⣜⢻⣿
⣿⣿⡏⣿⣿⣨⣝⠿⣿⣿⣿⣿⣿⢕⠸⣛⣩⣥⣄⣩⢝⣛⡿⠿⣿⣿⣆⢝
⣿⣿⢡⣸⣿⣏⣿⣿⣶⣯⣙⠫⢺⣿⣷⡈⣿⣿⣿⣿⡿⠿⢿⣟⣒⣋⣙⠊
⣿⡏⡿⣛⣍⢿⣮⣿⣿⣿⣿⣿⣿⣿⣶⣶⣶⣶⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⢱⣾⣿⣿⣿⣝⡮⡻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⣋⣻⣿⣿⣿⣿
⢿⢸⣿⣿⣿⣿⣿⣿⣷⣽⣿⣿⣿⣿⣿⣿⣿⡕⣡⣴⣶⣿⣿⣿⡟⣿⣿⣿
⣦⡸⣿⣿⣿⣿⣿⣿⡛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⣿⣿⣿
⢛⠷⡹⣿⠋⣉⣠⣤⣶⣶⣿⣿⣿⣿⣿⣿⡿⠿⢿⣿⣿⣿⣿⣿⣷⢹⣿⣿
⣷⡝⣿⡞⣿⣿⣿⣿⣿⣿⣿⣿⡟⠋⠁⣠⣤⣤⣦⣽⣿⣿⣿⡿⠋⠘⣿⣿
⣿⣿⡹⣿⡼⣿⣿⣿⣿⣿⣿⣿⣧⡰⣿⣿⣿⣿⣿⣹⡿⠟⠉⡀⠄⠄⢿⣿
⣿⣿⣿⣽⣿⣼⣛⠿⠿⣿⣿⣿⣿⣿⣯⣿⠿⢟⣻⡽⢚⣤⡞⠄⠄⠄⢸⣿
-->
<html>
  <head>
    <title>hentaisupplier</title>
    <meta property="og:image" content="/img/c_img_1.png" />
    <meta property="og:title" content="hentaisupplier" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/js/main.js" type="text/javascript"></script>
  </head>

  <body onload="bg()">
    <div class="nf">
    <header>
        <div class="headmain">
          <div class="topbar">
            <div class="logo">
              <p>hentai |</p>
            </div>
            <ul>
              <li><a href="/">home</a></li>
              <li><a href="/stats">stats</a></li>
              <li><a href="/team">team</a></li>
            </ul>
            <div class="logo">
              <p>| supplier</p>
            </div>
          </div>
          <section class="headimg">
            <div class="headov">
              <p>supplying discord servers with hentai</p>
            </div>
          </section>
          <div class="botbar">
            <p>artwork taken from <a href="https://bang-dream-gbp-en.bushiroad.com/" target="_blank" class="link">Bang Dream</a></p>
          </div>
        </div>
    </header>
    <div class="content">
      <div class="sub">
        <img src="/img/c_img_1.png" class="subimg">
        <div>
          <h1>about the bot</h1>
          <p>The bot posts hentai from <a href="https://reddit.com/r/hentai" target="_blank" class="link">r/hentai</a> into a specific channel every hour.</p>
          <p>It doesn't do much else lol.</p>
          <p>Due to the bot being hosted on <a href="https://www.heroku.com/" target="_blank" class="link">Heroku</a> for free there is downtime if it runs out of free hours.</p>
        </div>
      </div>
      <div class="sub">
        <a href="https://discordapp.com/api/oauth2/authorize?client_id=525787441857167392&permissions=265216&scope=bot" target="_blank" class="subimg">
            <img src="/img/c_img_2.svg" style="filter: invert(1)" class="invimg">
        </a>
        <div class="subtxt">
          <h1>invite</h1>
          <p>As mentioned in "about the bot" the bot is hosted on <a href="https://www.heroku.com/" target="_blank" class="link">Heroku</a> which means that local databases cannot be made.</p>
          <p>Therefore I manually have to add channels in which the bot can post.</p>
          <p>Add me on discord (suretic#5364), ask me to add your channel and I'll add it to the list.</p>
          <p>You can invite the bot <a href="https://discordapp.com/api/oauth2/authorize?client_id=525787441857167392&permissions=265216&scope=bot" target="_blank" class="link">here</a>.</p>
        </div>
      </div>
      <div class="sub">
        <img src="/img/c_img_3.svg" style="filter: invert(1)" class="subimg">
        <div>
          <h1>code</h1>
          <p>The code for this bot is written in JS using <a href="https://discord.js.org/#/" target="_blank" class="link">discord.js</a> and is open source.</p>
          <p>You can find it on <a href="https://github.com/suretic/hentaisupplier" target="_blank" class="link">Github</a>.</p>
        </div>
      </div>
    </div>
    </div>
    <footer>
      <a href="/contact" class="link">contact</a>
    </footer>
  </body>
</html>
