<!DOCTYPE html>
<!--
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣬⡛⣿⣿⣿⣯⢻
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⢻⣿⣿⢟⣻⣿⣿⣿⣿⣿⣿⣮⡻⣿⣿⣧
⣿⣿⣿⣿⣿⢻⣿⣿⣿⣿⣿⣿⣆⠻⡫⣢⠿⣿⣿⣿⣿⣿⣿⣿⣷⣜⢻⣿
⣿⣿⡏⣿⣿⣨⣝⠿⣿⣿⣿⣿⣿⢕⠸⣛⣩⣥⣄⣩⢝⣛⡿⠿⣿⣿⣆⢝
⣿⣿⢡⣸⣿⣏⣿⣿⣶⣯⣙⠫⢺⣿⣷⡈⣿⣿⣿⣿⡿⠿⢿⣟⣒⣋⣙⠊
⣿⡏⡿⣛⣍⢿⣮⣿⣿⣿⣿⣿⣿⣿⣶⣶⣶⣶⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⢱⣾⣿⣿⣿⣝⡮⡻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⣋⣻⣿⣿⣿⣿
⢿⢸⣿⣿⣿⣿⣿⣿⣷⣽⣿⣿⣿⣿⣿⣿⣿⡕⣡⣴⣶⣿⣿⣿⡟⣿⣿⣿
⣦⡸⣿⣿⣿⣿⣿⣿⡛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⣿⣿⣿
⢛⠷⡹⣿⠋⣉⣠⣤⣶⣶⣿⣿⣿⣿⣿⣿⡿⠿⢿⣿⣿⣿⣿⣿⣷⢹⣿⣿
⣷⡝⣿⡞⣿⣿⣿⣿⣿⣿⣿⣿⡟⠋⠁⣠⣤⣤⣦⣽⣿⣿⣿⡿⠋⠘⣿⣿
⣿⣿⡹⣿⡼⣿⣿⣿⣿⣿⣿⣿⣧⡰⣿⣿⣿⣿⣿⣹⡿⠟⠉⡀⠄⠄⢿⣿
⣿⣿⣿⣽⣿⣼⣛⠿⠿⣿⣿⣿⣿⣿⣯⣿⠿⢟⣻⡽⢚⣤⡞⠄⠄⠄⢸⣿
-->
<html>
  <head>
    <title>hentaisupplier - team</title>
    <meta property="og:image" content="/img/c_img_1.png" />
    <meta property="og:title" content="team" />
    <meta property="og:site_name" content="hentaisupplier.cf">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="solo project atm" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/team.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/team.js" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>
  </head>

  <body onload="bg()">
    <header>
        <div class="headmain">
          <div class="topbar">
            <div class="logo">
              <p>hentai |</p>
            </div>
            <ul>
              <li><a href="/">home</a></li>
              <li><a href="/stats">stats</a></li>
              <li><a href="/team">team</a></li>
            </ul>
            <div class="logo">
              <p>| supplier</p>
            </div>
          </div>
          <section class="headimg">
            <div class="headov">
              <p>team</p>
            </div>
          </section>
          <div class="botbar">
            <p>artwork taken from <a href="https://bang-dream-gbp-en.bushiroad.com/" target="_blank" class="link">Bang Dream</a></p>
          </div>
        </div>
    </header>
    <div class="content">
      <div class="sub">
        <div style="margin-bottom: 4vh">
          <p>This is a solo project at the moment.</p>
        </div>
      </div>
      <div class="team" id="team"></div>
    </div>
    <footer>
      <a href="/contact" class="link">contact</a>
    </footer>

    <div id="teampopup"></div>

    <script>
      var teamf = <%- JSON.stringify(teamf) %>;
      function close() {
        console.log("iuwrhg");
      }
    </script>
  </body>
</html>
