.team a{
  text-decoration: none;
}

.memberimg {
  transition: 200ms;
  height: 12vh;
  width: 12vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 2px solid #ff0036;
  margin-bottom: 1vh;
  z-index: -1;
  cursor: pointer;
}

.memberimg:hover{
  border-radius: 40%;
}

.member{
  float: left;
  margin-right: 4vh;
  margin-bottom: 3vh;
}

.member p{
  text-align: center;
  cursor: pointer;
}

#teampopup{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.8);
  z-index: 1;
  color: #fff;
  backdrop-filter: blur(4px);
  border: 0.1vh solid #ff0036;
}

.popupbar{
  height: 3vh;
  width: 100%;
  float: right;
  color: #fff;
  background: #000;
  margin-bottom: 2vh;
}

.close{
  float: right;
  height: 100%;
  width: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupbar button{
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
}

.popupbar button:focus{
  outline:none;
}

.popupbar p{
  text-align: center;
}

.role{
  height: 3vh;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.popupmain{
  height: 100%;
  width: 100%;
  padding: 2vh;
  animation: fadeinpop .3s steps(60, end);
}

@keyframes fadeinpop{
  from { opacity: 0 ;filter: blur(4px);}
}


.popimg{
  height: 14vh;
  width: 14vh;
}

.pople{
  float: left;
  margin-right: 3vh;
  padding-bottom: 2vh;
}

.popri h1{
  font-size: 2.5em;
  letter-spacing: 1vh;
}

.popri{
  font-size: 1.2em;
  float: left;
  margin-bottom: 2vh;
}

.poptitle{
  margin-bottom: 1.5vh;
}

.poptitle p{
  letter-spacing: 0.5vh;
}

.smcontainer{
  top: 50%
}

.sm{
  margin-right: 2vh;
  height: 2.5vh;
}
